@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #327039;
  --foreground: #133020;
  --background: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-footnote-ref]::before {
  content: "[";
}

[data-footnote-ref]::after {
  content: "]";
}

/* code {
  &[data-line-numbers] {
    counter-reset: line;

    > [data-line]::before {
      counter-increment: line;
      content: counter(line);
    }
  }
} */

@layer base {
  .bold-heading {
    -webkit-text-stroke: 2px var(--foreground);
    text-shadow: 2px 2px 0 var(--primary), 4px 4px 0 var(--foreground);
  }
}

@layer components {
  .after-cursor {
    @apply after:absolute after:top-[20%] after:-right-4 after:h-[70%] after:w-2 after:bg-primary after:border-2 after:border-foreground;
  }
}
