.wave {
  animation: wave 0.2s linear 0.3s 4 alternate both;
}

.lighting {
  animation: lighting 0.15s ease-in 0.3s 3 alternate;
}

@keyframes wave {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(25deg);
  }
}

@keyframes lighting {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
